/*/VARIABLES/*/
/*/MIXING /*/
img {
  max-width: 100%; }

.container2 {
  max-width: 960px;
  border: 1px solid black;
  margin: auto; }

header {
  background-color: #fcb73f; }
  header h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0; }
  header h2 {
    font-size: .8rem; }

section .items {
  margin: 30px auto 60px;
  font-size: 1rem; }

section h3 {
  font-size: 2rem;
  margin-bottom: 0;
  padding-top: 30px;
  border-bottom: 1px solid black;
  text-align: left; }

section p {
  font-size: 1rem; }

section .contacto {
  margin: 30px auto 90px; }

section h4 {
  padding-top: 9px; }

footer {
  background-color: #dddddd;
  text-align: justify; }
  footer text {
    font-size: 1rem; }
  footer ul {
    padding-left: 0; }
  footer li {
    list-style: none; }
  footer a {
    text-decoration: none;
    color: black; }
