/*/VARIABLES/*/
/*/MIXING /*/
img {
  max-width: 100%; }

.container2 {
  max-width: 960px;
  border: 1px solid black;
  margin: auto; }

header {
  background-color: #fcb73f; }
  header h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0; }
  header h2 {
    font-size: .8rem; }

section h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0;
  padding-top: 50px; }

section p {
  font-size: 1rem; }

footer {
  background-color: #dddddd;
  text-align: justify; }
  footer text {
    font-size: 1rem; }
  footer li {
    list-style: none; }
  footer a {
    text-decoration: none;
    color: black; }
